body {
}

.SearchLabel
{
    font-family:Arial;
    font-size:11px;
    color:Black;
    text-align:center;
    font-variant:small-caps;
    vertical-align:middle;
}

.SearchSelectForm
{
    width:100px;
    height:18px;
    border:solid 1px #A8A590;
    font-family:Arial;
    font-size:11px;
    text-align:right;
    color:Black;
}

.SearchTextBox
{
    width:100px;
    height:13px;
    border:solid 1px #A8A590;
    font-family:Arial;
    font-size:12px;
    text-align:right;
    color:Black;
}
